<template>
  <v-footer  color="#ffc0cb"
    dark
    height="auto"
    absolute>
    <v-card color="#ffc0cb"
      class="flex lighten-1 black--text text-center"
      flat
      tile>
      <v-btn 
          v-for="(icon, key) in icons"
          :key="key"
          class="mx-4 black--text center"
          dark
          icon
        >
          <a :href="icon.url" :target="icon.target"><v-icon color="black" size="24px">{{ icon.name }}</v-icon></a>
      </v-btn>
      <v-card-text class="black--text">
        {{ new Date().getFullYear() }} — <strong>KENNZA</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
      icons: [
        {
            name:'fab fa-facebook',
            url: '',
            target: '_blank',
        },
        {
            name:'fab fa-instagram',
            url: 'https://www.instagram.com/kennza_com/',
            target: '_blank',
        }
      ]
    })
}
</script>