<template>
  <v-form ref="post">
     <v-text-field
      v-model="title"
      name="title"
      :error-messages="titleErrors"
      :counter="20"
      label="Title"
      @input="$v.title.$touch()"
      @blur="$v.title.$touch()"
    ></v-text-field>
    <v-textarea
      v-model="description"
      :error-messages="descriptionErrors"
      name="description"
      :counter="1000"
      label="Description"
      maxlength="1000"
      @input="$v.description.$touch()"
      @blur="$v.description.$touch()"
    ></v-textarea>
      <v-text-field
      v-show="data.type == 1"
      v-model="price"
      name="price"
      :error-messages="priceErrors"
      label="Qmimi"
      prefix="€"
      type="number"
      @input="$v.price.$touch()"
      @blur="$v.price.$touch()"
    ></v-text-field>
    <v-text-field
      v-show="data.type == 1"
      v-model="number"
      name="number"
      :error-messages="numberErrors"
      label="Numri i telefonit"
      prefix="+"
      type="number"
      @input="$v.number.$touch()"
      @blur="$v.number.$touch()"
    ></v-text-field>
        <v-select
        :items="categories"
        item-text="name"
        item-value="id"
        name="category_id"
        v-model="category_id"
        label="Category"
        cache-items
        editable
        required
        @change="getCategoryId"
    ></v-select>
    <div>
        <v-file-input
          v-model="images"
          name="images[]"
          :error-messages="imagesErrors"
          accept="image/png, image/jpeg, image/bmp"
          counter
          editable
          label="File input"
          multiple
          small-chips 
          placeholder="Select your images"
          prepend-icon="mdi-camera"
          :show-size="1000"
          @input="$v.images.$touch()"
          @blur="$v.images.$touch()"
        >
      </v-file-input>
      <input type="hidden" name="user_id" :value="data.user.id">
    </div>
      <div class="mt-5">
          <v-row class="fill-height" align="center" justify="center">
              <template v-for="(image, i) in files">
                  <v-col
                  :key="i"
                  cols="12"
                  md="4"
                  >
                  <v-hover v-slot:default="{ hover }">
                      <v-card
                      :elevation="hover ? 12 : 2"
                      :class="{ 'on-hover': hover }"
                      >
                      <v-img
                          :src="image.value"
                          height="300"
                      >
                      <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <v-btn color="red" @click="openModal(post.id,image.id)" v-on="on" dark fab x-small>                                  
                                <v-icon color="white">mdi-cancel</v-icon>
                            </v-btn>
                            </template>
                            <span>Delete this.image</span>
                        </v-tooltip>
                      </v-img>
                      </v-card>
                  </v-hover>
                  </v-col>
              </template>
              <v-dialog
                  v-model="deleteDialog"
                  :data="modalData"
                  max-width="290"
                >
                  <v-card>
                    <v-card-title class="headline">Deshironi ta fshini kete foto?</v-card-title>

                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn
                        color="green darken-1"
                        text
                        @click="deleteDialog = false"
                      >
                        Mbylle
                      </v-btn>

                      <v-btn
                        color="green darken-1"
                        text
                        @click.stop="DeleteImage(modalData.post,modalData.image)"
                      >
                        Fshij
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </v-row>
      </div>
    <v-btn @click="submit">Ruaj</v-btn>
    <v-btn v-show="!data.editing" @click="clear">Pastro</v-btn>
    <v-btn v-show="data.editing && post.user_id == data.user.id" @click.stop="deletePost = true">Fshij</v-btn>
    <v-btn v-show="data.editing" @click="cancel">Anulo</v-btn>
    <v-dialog
      v-model="deletePost"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Deshironi ta fshini kete postim?</v-card-title>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            text
            @click="deletePost = false">
            Mbylle
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click.stop="DeletePost(post.id)"
          >
            Fshij
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'

  export default {
    mixins: [validationMixin],

    validations: {
      title: { required, maxLength: maxLength(20) },
      description: { required, maxLength: maxLength(1000) },
      images: { required },
      price: {required, maxLength: maxLength(10)},
      number: {required}
    },
    props: {
        editing: {
            type: Boolean,
            default() {
                return false;
            }
        },
        initialPost: {
            type: Object,
            default() {
                return {
                    title: null,
                    description: null,
                    category_id: null,
                    user_id: null,
                    type: 1,
                    data: {
                      'price' : 0,
                      'number' : null,
                    },
                    media: [],
                };
            }
        },
        initialCategory: {
            type: Array,
            default() {
                return [{
                    id: 0,
                    name: '',
                    created_at: '',
                    updated_at: ''
                }]
            }
        },
        type: {
            type: Number,
            default() {
                return null;
            }
        },
        user: {
            type: Object,
            default(){
              return null;
            }
        },
    },
    data() {
      return {
        title: this.initialPost.title,
        description: this.initialPost.description,
        category_id: this.initialPost.category_id,
        price: this.initialPost.data.price,
        number: this.initialPost.data.number,
        post: this.initialPost,
        categories: this.initialCategory,
        data:{
          editing: this.editing,
          user: this.user,
          type: this.type
        },
        images: [],
        files: [],
        deletePost: false,
        deleteDialog: false,
        modalData: {}
      }
    },
    computed: {
          titleErrors () {
            const errors = []
            if (!this.$v.title.$dirty) return errors
            !this.$v.title.maxLength && errors.push('Title must be at most 20 characters long')
            !this.$v.title.required && errors.push('Title is required.')
            return errors
          },
          descriptionErrors () {
            const errors = []
            if (!this.$v.description.$dirty) return errors
            !this.$v.description.maxLength && errors.push('Title must be at most 255 characters long')
            !this.$v.description.required && errors.push('Description is required')
            return errors
          },
          priceErrors () {
            const errors = []
            if (!this.$v.price.$dirty) return errors
            !this.$v.price.maxLength && errors.push('Price must be at most 10 numbers long')
            !this.$v.price.required && errors.push('price is required.')
            return errors
          },
          numberErrors () {
            const errors = []
            if (!this.$v.number.$dirty) return errors
            !this.$v.number.required && errors.push('Phone number is required.')
            return errors
          },
          imagesErrors () {
            const errors = []
            if (!this.$v.images.$dirty && this.post.media.length < 1) return errors
            !this.$v.images.required && this.post.media.length < 1 && errors.push('At least one image is required.')
            return errors
          },

        },
    created() {
      this.generateImages()
    },

    methods: {
      openModal(postId,imageId) {
        this.modalData = {post: postId, image: imageId}
        this.deleteDialog = true
      },
      submit(event) {
            event.preventDefault();
            if (this.data.editing) {
                this.update();
            } else {
                this.persist();
            }
        },
        generateImages(){
            if(!this.post.id) return false;
            this.post.media.forEach(element => {
                this.files.push( {id : element.id, value : "/storage/"+element.id+"/"+element.file_name})
            });
            return this.files;
        },
        getCategoryId(id){
          this.category_id = id;
        },
        DeleteImage(postId,mediaId){
              axios.post(`/api/posts/${postId}/delete/image`,{
                params: {
                  media : mediaId,
                }
              })
                .then(res => {
                    if(res.data.success){
                      this.deleteDialog = false;
                      window.location.reload();
                    }
                }).catch(err => {
                console.log(err)
            })
        },
        DeletePost(post){
              axios.post(`/api/posts/${post}/delete`)
                .then(res => {
                    this.deletePost = false;
                    window.location = '/';
                }).catch(err => {
                console.log(err)
            })
        },
        persist() {
          this.$v.$touch()
          let formData = new FormData(this.$refs.post.$el);
          formData.append('category_id',this.category_id);
          formData.append('type',this.data.type);
              axios.post('/api/posts/create', formData,{
                  headers: {
                      'Content-Type': 'multipart/form-data'
                  }
                })
                .then(res => {
                    window.location = '/';
                }).catch(err => {
                console.log(err)
            })
        },

        update() {
            this.$v.$touch()
            let formData = new FormData(this.$refs.post.$el);
            formData.append('type',this.data.type);
            formData.append("_method", "PUT");

            axios.post(`/post/${this.post.id}/edit` ,formData,{
                  headers: {
                      'Content-Type': 'multipart/form-data'
                  }
                })
                .then((response) => {
                    window.location.href= '/';
                })
                .catch(response => {
                    console.log(response);
                })
        },
      clear () {
        this.$v.$reset()
        this.title = ''
        this.description = ''
        this.images = []
      },
      cancel () {
        window.location = '/';
      },
    },
  }
</script>