<template>
        <div class="bg-white container py-4 mb-4">
            <div class="row  product-item-2 align-items-start">
                <div class="col-md-6 mb-5 mb-md-0">
                    <div class="swiper-container">

                        <!-- swiper slides -->
                        <div class="swiper-wrapper">
                            <div v-for="(image, i) in images" class="swiper-slide" :style="style(image)">
                            </div>
                        </div>
                        <!-- !swiper slides -->
                        
                        <!-- next / prev arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- !next / prev arrows -->
                        
                        <!-- pagination dots -->

                        <!-- !pagination dots -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            
                <div class="col-md-5 ml-auto product-title-wrap">
                <span class="number d-none d-md-block">{{ data.post.category.name.substring(0,7) }}</span>
                <br>
                <span v-show="data.post.category.name.length > 7" class="number-2">{{ data.post.category.name.substring(7,20) }}.</span>
                <h3 class="text-black mb-4 font-weight-bold">{{ data.post.title }}</h3>
                <p class="mb-4">{{ data.post.description }}</p>
                
                <div v-show="data.post.type === 1 && data.post.data != null && 'price' in data.post.data" class="mb-4"> 
                    <h3 class="text-black font-weight-bold h5">Price:</h3>
                    <div class="price"><del v-show="data.post.data != null && 'price' in data.post.data" class="mr-2">{{ data.post.data != null && 'oldprice' in data.post.data ? data.post.data.oldprice : '' }}</del> {{ data.post.data != null && 'price' in data.post.data ? data.post.data.price : ''}} €</div>
                </div>
                <div v-show="data.post.data != null && 'number' in data.post.data && data.post.data.number != null">
                    <h3 class="text-black font-weight-bold h5">Numri i Telefonit:</h3>
                    <a :href="(post.data != null && 'number' in post.data ? 'tel:'+post.data.number : '#')" v-show="data.post.data != null && 'number' in data.post.data" class="btn btn-black btn-outline-black rounded-0 d-block mb-2 mb-lg-0 d-lg-inline-block">+{{ data.post.data != null && 'number' in data.post.data ? data.post.data.number : '' }}</a>
                </div>
                <div>
                        <v-rating
                        v-model="rating"
                        color="yellow darken-3"
                        background-color="grey darken-1"
                        empty-icon="$ratingFull"
                        half-increments
                        hover
                        ></v-rating>
                </div>
                <a v-show="data.user.id == data.post.user.id || data.user.role_id == 1" style="background-color:#ffc0cb" :href="'/post/'+data.post.id+'/edit'" class="btn black--text rounded-0 d-block mb-2 mb-lg-0 d-lg-inline-block">Ndrysho</a>
                </div>
            </div>
        </div>
</template>
<script>

    export default {
        props: ['post','user','rating_user'],
        data() {
            return {
                data: {
                    post: this.post,
                    user: this.user
                },
                images : [],
                rating: this.rating_user,
                dialog: false,
                DeleteDialog: false,
                index: null,
                selectedImage: null,
                like: false,
            }
        },
        watch: {
            rating: {
                handler: function (val, oldVal) { if(val != oldVal){
                    this.changeRating();    
                } },
            }
        },
        methods: {
            resolve_img_url: function (media) {
                if(this.selectedImage == null){
                    if(typeof media === 'undefined' && this.data.post.media.length == 0) return this.selectedImage = "/storage/default/no-image.png";
                    let media = this.data.post.media
                    return this.selectedImage = "/storage/" + media[0].id + "/" + media[0].file_name
                }
                if(typeof media === 'string')  {
                        return this.selectedImage = media
                };
                if(media){
                    if (typeof media !== 'string' && media.length == 0) return this.selectedImage = "/storage/default/no-image.png";
                    this.selectedImage = "/storage/" + media[0].id + "/" + media[0].file_name;
                }
            },
            style (image) {
                return 'background-image: url('+ image +')';
            },
            generateImages(){
                this.data.post.media.forEach(element => {
                    this.images.push("/storage/"+element.id+"/"+element.file_name)
                });
                return this.images;
            },
            likeit: function() {
                this.like = !this.like;
                // some code to filter users
            },
            renderUserImg(){
                if(this.data.post.user.media.length > 0){
                    return "/storage/" + this.data.post.user.media[0].id + "/" + this.data.post.user.media[0].file_name
                }else{
                    return "/storage/default/no_user.png";
                }
            },
            deletePost(post){
                axios.post(`/api/posts/${post}/delete`)
                .then(res => {
                    this.DeleteDialog = false;
                    window.location = '/';
                }).catch(err => {

                })
            },
            EditPost(post){
                window.location = `/post/${post}/edit`;
            },
            changeRating(){
                axios.post(`/api/posts/${this.data.post.id}/rating/${this.data.user}`,{
                    rate : this.rating
                })
                .then(res => {

                }).catch(err => {

                })
            }
        },
        mounted() {
        },
        created() {
            this.generateImages()
            this.resolve_img_url()
        }
    }
</script>
