<template>
<div class="site-section" id="products-section">
    <div class="container">
    <v-toolbar flat dense>
        <v-toolbar-title v-show="total != null">Totali: {{ total }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-tooltip right>
            <template v-slot:activator="{ on }">
                <v-btn v-show="type != 2 || user.role_id == 1" class="ma-2" v-on="on" color="black " @click="createPost(type)" dark>
                    <v-icon dark>mdi-cloud-upload</v-icon>
                </v-btn>
            </template>
        <span v-show="type == 1">Shto një postim për Online shop</span>
        <span v-show="type == 3">Shto një postim</span>
        <span v-show="type == 2">Shto një Recet gatimi</span>
        </v-tooltip>
    </v-toolbar>
    <div>
    </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-5" v-for="post in posts" :key="post.id">
            <div class="product-item">
            <figure @click="showPost(post.id)">
                <img :src="resolve_img_url(post.media)" style="max-height:330px !important; width: 100%;"  alt="Image" >
            </figure>
            <div class="px-4">
                <h3> {{ post.title }} </h3>
                <div class="mb-3">
                <span class="meta-icons mr-3"><span class="icon-star text-warning"></span><span v-text="calculateRating(post.rating)"></span></span>
                </div>
                <p class="mb-4">{{ post.description.substring(0,20)+"..." }}</p>
                <div>
                <a :href="(post.data != null && 'number' in post.data ? 'tel:'+post.data.number : '#')" v-show="post.type == 1" class="btn btn-black mr-1 rounded-0">Kontakto</a>
                <a target="_blank" :href="`post/${post.id}`" class="btn btn-black btn-outline-black ml-1 rounded-0">Shiko</a>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <scroll-loader v-show="loadMore" :loader-method="getMorePosts" :loader-enable="loadMore">
    </scroll-loader>
    <div class="container">
        <div v-show="loadedMessage != null" class="alert alert-info" role="alert">
            <strong>Info!</strong> {{ loadedMessage }}
        </div>
    </div>
</div>
</template>


<script>
    export default {
        inject: ['theme'],
        props: {
            'data_type': {type: Number },
            'q': {type: String},
            'user': {type: Object}
        },
        data () {
            return {
                type: this.data_type,
                loadMore: true,
                page: 1,
                pageSize: 3,
                total: null,
                posts: [],
                loadedMessage: null,
            }
        },
        methods: {
            resolve_img_url: function (media) {
                if(media.length == 0) return "/storage/default/no-image.png";
                return "/storage/"+media[0].id+"/"+media[0].file_name;
            },
            showPost(id){
                window.location = 'post/'+id;
            },
            getMorePosts(){
                axios.get('', {
                params: {
                    page: this.page++,
                    per_page: this.pageSize,
                    search: encodeURI(this.q)
                    }
                })
                .then(res => {
                    if(this.loadMore){
                        res.data.data.map(result => this.posts.push(result))
                    }
                    this.total = res.data.total;
                    if(this.posts){
                        if(this.posts.length == res.data.total){this.loadMore = false; this.loadedMessage = 'Të gjitha postet jane shfaqur.';}
                    }
                })
                .catch(error => {
                    console.log(error);
                })
            },
            createPost(type){
                window.location = '/post/create/?type='+type;
            },
            calculateRating(rating){
                if(!rating) return;
                var rating_count = rating.length;
                var count = 0;
                if(rating_count > 0){
                    rating.forEach(element => {
                        if(element.pivot.rate > 0){
                            count += element.pivot.rate;
                        }
                    });
                }
                if(rating_count == 0){
                    return '0.00';
                }else{
                    return count / rating_count;
                }
            }
        },
        mounted() {
            this.getMorePosts()
        }
    }
</script>
