<template>
    <div>
        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-text>
                    <v-form>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="editedItem.name" 
                                        label="Emri" data-vv-name="name" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="editedItem.surname" 
                                        label="Mbiemri" data-vv-name="surname" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm8 md8>
                                    <v-text-field  v-model="editedItem.email" 
                                        label="Email" data-vv-name="email" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm4 md4>
                                    <v-text-field v-model="editedItem.gender" 
                                        label="Gjinia" data-vv-name="gender" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm4 md4>
                                    <v-text-field v-model="editedItem.phone"
                                        label="Telefoni" data-vv-name="phone" required></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click.native="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click.native="save">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-data-table :headers="headers" :items="data" class="elevation-1">
            <template v-slot:item.action="{ item }">
                <v-btn icon class="mx-0" @click="editUser(item)">
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn icon class="mx-0" @click="deleteUser(item)">
                    <v-icon color="pink">mdi-delete</v-icon>
                </v-btn>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    export default {
        $_veeValidate: {
            validator: 'new'
        },
        props: ['users'],
        data() {
            return {
                dialog: false,
                errors: [],
                headers: [{
                        text: 'Emri',
                        align: 'left',
                        sortable: true,
                        value: 'name'
                    },
                    {
                        text: 'Mbiemri',
                        align: 'left',
                        sortable: true,
                        value: 'surname'
                    },
                    {
                        text: 'Email',
                        align: 'left',
                        sortable: true,
                        value: 'email'
                    },
                    {
                        text: 'Gjinia',
                        align: 'left',
                        sortable: false,
                        value: 'gender'
                    },
                    {
                        text: 'Telefoni',
                        align: 'left',
                        sortable: false,
                        value: 'phone'
                    },
                    {
                        text: 'Actions',
                        align: 'right',
                        sortable: false,
                        value: 'action'
                    }
                ],
                data: this.users,
                editedItem: {
                    id: 0,
                    name: "",
                    surname: "",
                    email: "",
                    gender: "",
                    phone: '',
                    value: true,
                },
                defaultItem: {
                    id: 0,
                    name: "",
                    surname: "",
                    email: "",
                    gender: "",
                    value: false,
                    phone: '',
                },
            }
        },
        methods: {
            initialize() {
                axios.get('/users').then((response) => {
                    response.data.forEach((item, index) => {
                        let user = {
                            id: item.id,
                            name: item.name,
                            surname: item.surname,
                            email: item.email,
                            gender: item.gender,
                            phone: item.phone,
                        };                         
                        this.data.push(user); 
                    });
                });
            },

            editUser(item) {
                this.editedIndex = this.data.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true;
            },
            deleteUser(item) {
                const index = this.data.indexOf(item)
                if (confirm('Are you sure you want to delete this item?')) {
                    axios.post('/delete/' + item.id)
                        .then(() => {
                            this.data.splice(index, 1)
                        });
                }
            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            updateItem(url) {
                axios.post(url, {
                        name: this.editedItem.name,
                        surname: this.editedItem.surname,
                        email: this.editedItem.email,
                        gender: this.editedItem.gender,
                        phone: this.editedItem.phone
                    })
                    .then(() => {
                        Object.assign(this.data[this.editedIndex], this.editedItem)
                        this.close()
                    }).catch((response) => {
                        alert("whooops! Something went wrong.");
                    })
            },
            save() {
                if (this.editedIndex > -1) {
                    this.updateItem('/profile/' + this.editedItem.id);
                } 
            }
        },
    }
</script>